/* main background-color: #FFFFFF */

/*              header
    logo colors - Web: #2196F3 Studio #000000
    Студія, Портфоліо, Контакти - #212121, Студія, Портфоліо, Контакти:active - #2196F3
     
    e-mail, tel.:hover - #2196F3, e-mail, tel.- #757575
 */

/*            title
    title - background-color: #2F303A
    text in title - color: #FFFFFF
    title-button - background-color: #2196F3, title-button:active - background: #188CE8;

 */

/*          features
    background-color: #F5F5F5
    features-text - color: #212121;
    features-description - color: #757575;
 
 */
:root {
  --bg-primary-color: #ffffff;
  --bg-secondary-color: #2f303a;
  --bg-third-color: #2196f3;
  --bg-features-color: #f5f5f5;
  --bg-fourth-color: #f5f4fa;
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --headers-text-color: #212121;
  --logo-main-color: #2196f3;
  --logo-header-color: #000000;
  --logo-footer-color: #ffffff;
  --hover-focus-color: #2196f3;
  --button-active-color: #188ce8;
  --footer-address-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--bg-primary-color);
  color: var(--primary-text-color);

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  /* line-height: 1.2; */
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

address {
  font-style: inherit;
}

.list {
  list-style: none;
}

/* Logo */
.logo {
  color: var(--logo-main-color);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header .logo span {
  color: var(--logo-header-color);
}

/* Header */

.site-nav .link {
  color: var(--headers-text-color);
}

.header .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-contacts .link {
  color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-contacts .link:hover,
.site-contacts .link:focus {
  color: var(--hover-focus-color);
}

.site-nav .current {
  color: var(--hover-focus-color);
}

/* Main section */

.caption {
  background-color: var(--bg-secondary-color);
}

.caption-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.caption-header,
.caption-button {
  color: var(--secondary-text-color);
}

.caption-button {
  background-color: var(--bg-third-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.caption-button:active {
  background-color: var(--button-active-color);
}

.section-title,
.section-our-team {
  color: var(--headers-text-color);
}

.section.features {
  background-color: var(--bg-features-color);
}

.feature-name {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.section.team {
  background-color: var(--bg-fourth-color);
}

.section.features > h2,
.section-our-team {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section.team .section-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.occupation {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/* Footer */

.footer {
  background-color: var(--bg-secondary-color);
}

.footer .logo {
  color: var(--logo-main-color);
}

.footer .logo span {
  color: var(--logo-footer-color);
}

.contacts {
  color: var(--footer-address-color);

  font-size: 14px;
  line-height: 1.71;
}

.address-house {
  color: var(--bg-primary-color);
}

.contacts:hover,
.contacts:focus {
  color: var(--hover-focus-color);
}

/* Portfolio */
/* Фільтр на сторінці Портфоліо виконаний списком кнопок, кожній з яких заданий атрибут type="button". */

.filters-buttons > li > button {
  background-color: var(--bg-fourth-color);
  color: var(--headers-text-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  /* letter-spacing: 0.03em; */
}

.filters-buttons > li > button:hover,
.filters-buttons > li > button:focus {
  background-color: var(--bg-third-color);
  color: var(--secondary-text-color);
}

.projects .list .section-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.section-description {
  color: var(--primary-text-color);
}

.projects .list .section-description {
  font-size: 16px;
  line-height: 1.88;
}
